# Exemplo de variáveis de ambiente para AutoVideo
# Copie este arquivo para .env e preencha suas chaves/localizações.

PEXELS_API_KEY= LSoEFJ5Bv6zcXdsMKFSlVo9etUug22ui6LG6JqnXhf7VnJhZBRyauiYz
AUTOVIDEO_TEMP_DIR=temp
AUTOVIDEO_OUTPUTS_DIR=outputs
