ollama
requests
python-dotenv
duckduckgo_search
tavily-python
trafilatura
spacy
moviepy
edge-tts
pillow
numpy
proglog
imageio-ffmpeg
pydantic
aiohttp
yarl
multidict
aiosignal
frozenlist
propcache
aiohappyeyeballs
async-timeout
attrs
certifi
charset-normalizer
click
colorama
decorator
filelock
greenlet
h11
httpcore
httpx
idna
ImageIO
Jinja2
llvmlite
lxml
MarkupSafe
more-itertools
mpmath
networkx
numba
playwright
primp
pyee
regex
setuptools
sympy
tabulate
tiktoken
torch
tqdm
typing_extensions
typing-inspection
urllib3
